@if(!getListItens().length){
  <div class="container">
    <img
      src="assets/img/task-list-null.png"
      alt="Sua lista está vazia - imagem ilustrativa"
      loading="eager"
    />

    @if(addItem()){
    <button class="btn btn-primary" (click)="addItem.set(false)">
      Crie uma lista de tarefas
    </button>

    }@else {
      <app-input-add-item  [inputListItens]="getListItens()" (outputAddListItens)="getInputAndAddItem($event)" ></app-input-add-item>


    }
  </div>

}@else {
  <app-input-add-item  [inputListItens]="getListItens()" (outputAddListItens)="getInputAndAddItem($event)" ></app-input-add-item>

  <main class="container"></main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItems()">Deletar todos os items</button>
  </footer>
}

